<!DOCTYPE html>
<html lang="zh-Han">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ROS2遙控器 teleop_twist</title>
<!-- link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet" -->
<!-- script src="public/bootstrap/js/bootstrap.bundle.min.js"></script -->
<script src="public/eventemitter3/eventemitter3.umd.min.js"></script>
<script src="public/roslibjs/roslib.js"></script>
<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  .tblrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn_joy {
    padding: 5px 20px;
    font-size: 48px;
  }
  .statusText {
    margin: 5px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    min-height: 24px;
    min-width: 200px;
    max-width: 400px;
  }
  button:hover {
    background-color: #2980b9;
  }

  .toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  .toast {
    background-color: rgba(255, 175, 175, 0.8);
    color: rgba(128, 30, 30);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .toast_show {
    opacity: 1;
  }
</style>
</head>
<body onload="initFunc()">
  <h1>ROS Web Controller</h1>
  <div class="toast-container" id="toastContainer"></div>
  <div class="tblrow">
    <button onclick="startConnection()">ROS Connect</button>
    <span id="connStatus" class="statusText">status</span>
  </div>
  <div class="tblrow">
    <button onclick="setSpeed(1)">Speed +10%</button>
    <button onclick="setSpeed(0)">Speed -10%</button>
    <button onclick="setAngular(1)">Angular +10%</button>
    <button onclick="setAngular(0)">Angular -10%</button>
  </div>
  <div class="tblrow">
    <button class="btn_joy" id="ctlFWD">&#8679; </button>
  </div>
  <div class="tblrow">
    <button class="btn_joy" id="ctlLF">&#8678;</button>
    <button class="btn_joy" id="ctlSTOP" onClick="stopMovement()">&#9209;</button>
    <button class="btn_joy" id="ctlRT">&#8680;</button>
  </div>
  <div class="tblrow">
    <button class="btn_joy" id="ctlBWD">&#8681;</button>
  </div>
<script>
/*
Moving around:
   u    i    o
   j    k    l
   m    ,    .

t : up (+z)
b : down (-z)
q/z : increase/decrease max speeds by 10%
w/x : increase/decrease only linear speed by 10%
e/c : increase/decrease only angular speed by 10%
*/

const moveBindings = {
    'i':[1,0,0,0],   // U
    'o':[1,0,0,-1],  // UR
    'j':[0,0,0,1],   // L
    'l':[0,0,0,-1],  // R
    'u':[1,0,0,1],   // UL
    'comma':[-1,0,0,0],  // D
    'dot':[-1,0,0,1],  // RD
    'm':[-1,0,0,-1], // LD 
    'O':[1,-1,0,0],
    'I':[1,0,0,0],
    'J':[0,1,0,0],
    'L':[0,-1,0,0],
    'U':[1,1,0,0],
    'smaller':[-1,0,0,0],
    'greater':[-1,-1,0,0],
    'M':[-1,1,0,0],
    't':[0,0,1,0],  // +Z
    'b':[0,0,-1,0], // -Z
}

const speedBindings = {
    'q':[1.1,1.1], // max speeds +10%
    'z':[.9,.9],   // max speeds -10%
    'w':[1.1,1],   // linear speed +10%
    'x':[.9,1],    // linear speed -10%
    'e':[1,1.1],   // angular speed +10%
    'c':[1,.9],    // angular speed -10%
}

class RosCar {
  constructor(speed = 0.35, turn = 1.0) {
    this.ws_hostname = "localhost";
    this.ws_port = 9090;
    this.x = 0.0;
    this.y = 0.0;
    this.z = 0.0;
    this.th = 0.0;
    this.speed = speed > 0.0? speed:0.5;
    this.turn = turn > 0.0 ? turn:1.0;
    
    this.speed_limit = 100;
    this.turn_limit = 100;
    this.repeat_rate = 0.0;
    //ros handle
    this.ros = undefined;
    this.topicCmdVel = undefined;
  }

  startConnection() {
    const hostname = window.location.hostname || this.ws_hostname
    console.log("hostname:", hostname)
    this.ros = new ROSLIB.Ros({
        url: `ws://${hostname}:${this.ws_port}`
    });
    //this.ros.connect(`ws://${hostname}:${this.ws_port}`);

    this.ros.on('connection', () => {
      showToast('Connected to ROS Bridge');
      update_conn_status(0, "Connected");
      this.topicCmdVel = new ROSLIB.Topic({
        ros: this.ros,
        name: '/cmd_vel',
        messageType: 'geometry_msgs/Twist'
      });
    });

    this.ros.on('error', (error) => {
      console.error('Error connecting to ROS: ', error);
      update_conn_status(1, "Error");
      showToast('Error connecting to ROS');
      if(this.ros) {
        this.ros.close();
        this.ros = undefined;
      }
    });

    this.ros.on('close', () => {
      console.log('Disconnected from ROS');
      update_conn_status(1, "Disconnected");
      this.topicCmdVel = undefined;
      this.ros = undefined;
      showToast('Disconnected from ROS');
    });
    /*
    this.listener = new ROSLIB.Topic({
      ros : ros,
      name : '/listener',
      messageType : 'std_msgs/String'
    });
    // Then we add a callback to be called every time a message is published on this topic.
    this.listener.subscribe(function(message) {
      console.log('Received message on ' + listener.name + ': ' + message.data);
      // If desired, we can unsubscribe from the topic as well.
      this.listener.unsubscribe();
    });
    */
  }

  setDirection(key) {
    this.x = moveBindings[key][0];
    this.y = moveBindings[key][1];
    this.z = moveBindings[key][2];
    this.th = moveBindings[key][3];
  }

  setSpeed(key) {
    if(this.speed <= this.speed_limit) {
      this.speed = this.speed * speedBindings[key][0]
    }
    if(this.turn <= this.turn_limit) {
      this.turn = this.turn * speedBindings[key][1]
    }
  }

  stopMoving() {
    this.x = 0.0;
    this.y = 0.0;
    this.z = 0.0;
    this.th = 0.0;
  }

  move() {
    if (!this.ros) {
      console.error('ROS connection not established');
      showToast('ROS connection was not established');
      return;
    }

    if (!this.topicCmdVel) {
      console.error('Publisher not created');
      showToast('Publisher was not created');
      return;
    }
 
    const twist = new ROSLIB.Message({
      //header: {
      //  stamp: rospy.Time.now(),
      //  frame_id = twist_frame
      //},
      linear: {
        x: this.x * this.speed,
        y: this.y * this.speed,
        z: this.z * this.speed,
      },
      angular: {
        x: 0,
        y: 0,
        z: this.th * this.turn
      }
    });

    console.log("move: twist", twist)

    this.topicCmdVel.publish(twist);
  }

}

const myCar = new RosCar();

function update_conn_status(iserr, mesg) {
  const elem = document.getElementById("connStatus");
  elem.innerText = mesg;
  if(iserr > 0)
    elem.style.color = "red";
  else
    elem.style.color = "#3498db"
}
function startConnection() {
    myCar.startConnection();
}
const moveForward = () => {
    myCar.setDirection('i');
    myCar.move();
}
const moveBackward = () => {
    myCar.setDirection('comma');
    myCar.move();
}
const moveLeft = () => {
    myCar.setDirection('j');
    myCar.move();
}
const moveRight = () => {
    myCar.setDirection('l');
    myCar.move();
}
function stopMovement() {
    myCar.stopMoving();
    myCar.move();
    //clear all btnFlags
    for(let i=0; i<myJoystick.length; i++)
      myJoystick[i].act= 0;
}
function setSpeed(incr) {
    myCar.setSpeed(incr > 0? 'w':'x');
    myCar.move();
}
function setAngular(incr) {
    myCar.setSpeed(incr > 0? 'e':'c');
    myCar.move();
}

const toastContainer = document.getElementById('toastContainer');
function showToast(message, duration = 2500) {
  const toast = document.createElement('div');
  toast.className = 'toast';
  toast.textContent = message;
  toastContainer.appendChild(toast);
  
  setTimeout(() => {
    toast.classList.add('toast_show');
    //console.log("toast.textContent: toast_show")
  }, 10);

  setTimeout(() => {
    toast.classList.remove('toast_show');
    //console.log("toast.textContent: toast_hide")
    setTimeout(() => {
      toast.remove();
    }, 300);
  }, duration);
}

const btnIds = ['ctlFWD','ctlLF', 'ctlRT', 'ctlBWD'];
const btnActions = [0,0,0,0];

const myJoystick = [
  {id:"ctlFWD", act:0, fnmov:moveForward},
  {id:"ctlLF",  act:0, fnmov:moveLeft},
  {id:"ctlRT",  act:0, fnmov:moveRight},
  {id:"ctlBWD", act:0, fnmov:moveBackward},
]

function evt_common_move(elmId) {
  for(let i=0; i<myJoystick.length; i++) {
    if(myJoystick[i].id == elmId) {
      myJoystick[i].act = 1;
      myJoystick[i].fnmov();
      break;
    }
  }
}
function evt_common_stop(elmId) {
  for(let i=0; i<myJoystick.length; i++) {
    if(myJoystick[i].id == elmId) {
      myJoystick[i].act = 0;
      break;
    }
  }
  const sum = myJoystick.reduce((accumulator, currentValue) => {
    return accumulator + currentValue.act;
  }, 0); 
  if(sum == 0)
    stopMovement();
}

function initFunc() {
  myJoystick.forEach(function(elmJoy) {
    let btn = document.getElementById(elmJoy.id);
    //console.log("addEventListener:", elmJoy.id);
    btn.addEventListener('mousedown', (event) => evt_common_move(elmJoy.id));
    btn.addEventListener('touchstart', (event) => evt_common_move(elmJoy.id), { passive: false });
    btn.addEventListener('mouseup', () => evt_common_stop(elmJoy.id));
    //btn.addEventListener('mouseleave', () => evt_common_stop(elmJoy.id));
    btn.addEventListener('touchend', () => evt_common_stop(elmJoy.id));
  });
}
</script>
</body>
</html>
